@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.top {
	background-image: url(img/article_20140709_LightSail1_Space03.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 100%;
	min-height: 500px;
	/* min-height: 100vh; */
	max-height: 800px;
	display: flex;
	/* padding: 15px; */
	align-items: center;
	/* justify-content: center; */
}

.top__div {
	width: 100%;
	max-width: 400px;
	height: 100%;
	/* min-height: calc(100vh - 30px); */
	min-height: 500px;
	max-height: 800px;
	padding: 30px 30px;
	background-color: rgba(75, 119, 141, 0.75); 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width: 1200px) {
	.top__div {
		max-width: 50vw;
	}
}

.top__head1 {
	padding-bottom: 20px;
}

.top__head {
	margin: 0;
}
